# vim: set filetype=gitconfig:
# ANSIBLE-MANAGED CONFIGURATION FILE
# * wildcard matches any number of any chars
# . does not have special meaning (it's a literal dot)

# VIM
*.swp
*.swo
*.viminfo
*~
Session.vim
.notags
tags.lock
tags.temp
/tags
.projections.json

